a{
    color: white;
    text-decoration-line: none;
}

#recuadro1 {
    border: 2px solid rgb(44, 208, 237);
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(44, 208, 237);
    width: 620px;
    padding-left: 10px;
    padding-bottom: 80px;
    margin-top: 10px; 
}

#recuadro2 {
    border: 1px solid rgb(38, 162, 184);
    color: white;
    background-color: rgb(38, 162, 184);
    box-shadow: 0px 3px 0px 0px #016579;
    width: 70px;
    padding-bottom: -10px;
    padding-left: 10px;
    margin-left: 15px;  
    margin-top: -75px;
}
#recuadro3 {
    border: 1px solid rgb(38, 162, 184);
    color: white;
    background-color: rgb(38, 162, 184);
    box-shadow: 0px 3px 0px 0px #016579;
    width: 100px;
    padding-bottom: -10px;
    padding-left: 10px;
    margin-left: 108px;  
    margin-top: -62px; 
}
#recuadro4 {
    border: 1px solid rgb(38, 162, 184);
    color: white;
    background-color: rgb(38, 162, 184);
    box-shadow: 0px 3px 0px 0px #016579;
    width: 100px;
    padding-bottom: -10px;
    padding-left: 10px;
    margin-left: 232px;  
    margin-top: -62px; 
} 
#recuadro5 {
    border: 1px solid rgb(38, 162, 184);
    color: white;
    background-color: rgb(38, 162, 184);
    box-shadow: 0px 3px 0px 0px #016579;
    width: 100px;
    padding-bottom: -10px;
    padding-left: 10px;
    margin-left: 350px;  
    margin-top: -63px; 
} 
#recuadro6 {
    border: 1px solid rgb(38, 162, 184);
    color: white;
    background-color: rgb(38, 162, 184);
    box-shadow: 0px 3px 0px 0px #016579;
    width: 130px;
    padding-bottom: -10px;
    padding-left: 7px;
    margin-left: 470px;  
    margin-top: -63px; 
} 
body {
    background-color: white;
    margin:40px;
}